
@media (width <= 404px) {
	.cart {
		font-size: 1.1rem;
	}
	.quest_li .info_div {
		font-size: 1.1rem;
	}
	.center1 {
		padding-left: 33px;
	}
	.center1::before {
		height: 20px;
		width: 20px;
		left: 8px;
	}
}
@media (width >= 400px) {
	.white_plusi {
		font-size: 1.2rem;
	}
	.primet {
		font-size: 1.2rem;
	}
}
@media (width <= 420px) {
	.cart {
		font-size: 1.2rem;
	}
}
@media (width <= 450px) {
	.start_cart::after {
		width: 23vw;
		height: 23vw;
	}
	.start_cart.start_2::after {
		width: 25.5vw;
		height: 25.5vw;
	}
}
@media (width >= 460px) {
	.white_plusi {
		font-size: 1.4rem;
	}
	.plus_white::before {
		height: 20px;
		width: 20px;
		left: -0.8rem;
	}
	.txt_plus_white {
		margin-left: 16px;
	}
	#white_gift .txt_plus {
		margin-left: 5px;
	}
}
@media (width <= 470px) {
	html {
		font-size: 15px;
	}
}
@media (width <= 375px) {
	html {
		font-size: 14px;
	}
	.info_div {
		font-size: 1.1rem;
	}
	.urok {
		font-size: 1.15rem;
	}
	.modul_zag {
		font-size: 1.6rem;

	}
	.quest_li .info_div {
		font-size: 1rem;
	}
	.plusi {
		width: 90%;
	}
	#white_gift {
		margin-left: 15px;
	}
}
@media (width >= 480px) {
	.modul_zag {
		font-size: 1.7rem;
	}
	.urok {
		font-size: 1.35rem;
	}
	.white_plusi {
		font-size: 1.2rem;
	}
	#white_gift {
		margin-left: 1.8rem;
	}
	#white_gift::before {
		left: -2.7rem;
	}
}
@media (width <= 510px) {
	.start_cart::after {
		width: 22vw;
		height: 22vw;
	}
	.start_cart.start_2::after {
		width: 23.5vw;
		height: 23.5vw;
	}
}
@media (width <= 535px) {
	.start_cart::after {
		right: -5%;
		top: -9%;
	}
}
@media (width <= 600px) {
	.start_cart::after {
		width: 19vw;
		height: 19vw;
	}
	.start_cart.start_2::after {
		width: 21.5vw;
		height: 21.5vw;
	}
}
@media (width <= 650px) {
	.start_cart::after {
		right: -7%;
		top: -11%;
	}
}



