@media (width >= 440px) {
	html {
		font-size: 17px;
	}
}
@media (width >= 460px) {
	#white_gift::before {
		left: -2.2rem;
	}
	#white_gift .txt_plus {
		margin-left: 5px;
	}
	.modul_zag {
		font-size: 1.776rem;
	}
	.modul_zag::before {
		font-size: 1.1rem;
	}
	.modul_tp .urok {
		font-size: 1.1rem;
	}
	.urok::before {
		font-size: 1.1rem;
	}
	.tarifi .tariff {
		width: 80%;
	}
	.polosa_white {
		position: relative;
		left: -10px;
	}

}
@media (width <= 395px) {
	.plusi .txt_plus {
		font-size: 1.15rem;
	}
}
@media (width <= 365px) {
	.plusi .txt_plus {
		font-size: 1.1rem;
	}
}

