@media (min-width: 360px) {
	:root {
		--k: 0.333;
	}
}
@media (min-width: 375px) {
	:root {
		--k: 0.347;
	}
}
@media (min-width: 390px) {
	:root {
		--k: 0.361;
	}
}
@media (min-width: 393px) {
	:root {
		--k: 0.3638;
	}
}
@media (min-width: 412px) {
	:root {
		--k: 0.381;
	}
}
@media (min-width: 768px) {
	:root {
		--k: 0.6;
	}
}
@media (min-width: 768px) {
	:root {
		--k: 0.6;
	}
}
@media (min-width: 1280px) {
	:root {
		--k: 0.8;
	}
}
@media (min-width: 1366px) {
	:root {
		--k: 0.9;
	}
}
@media (min-width: 1920px) {
	:root {
		--k: 1;
	}
}