:root {
	--black_background: #343434;
	--black_text: #2B2B2B;
	--white: #FFFFFF;
	--pink: #FF7CC4;
	--gradient: linear-gradient(90deg,#ff7cc4 0%, #ffb7de 50%, #ff7cc4 100%);
	--border_color: #434343;
	--gradient_circle: linear-gradient(211deg,rgba(255, 183, 222, 1) 0%, rgba(255, 124, 196, 1) 100%);
}