@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@font-face {
	font-family: 'Disruptors_Script';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/Disruptor\'s_Script.woff2') format('woff2');
}
