* {
	white-space: nowrap
}
html, body {
	font-size: 16px;
}
.centerr {
	align-content: center;
	margin-inline: auto;
}
.txt_center {
	text-align: center;
	align-items: center;
	line-height: 1rem;
}
.svgg {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.mainn {
	background-color: var(--white);
	min-height: 100vh;
	min-width: 320px;
	max-width: 480px;
	font-family: Inter;
	position: relative;
	margin-inline: auto;
	font-weight: normal;
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	letter-spacing: -1.3px;
	background-color: #496B8A;
}
.zagolovok {
	text-align: center; 
	letter-spacing: -0.3rem; 
	line-height: 3.225rem; 
	font-size: 4rem; 
	padding-block: 20px;
	font-family: Forum;
}
.menu__btn > span, 
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--white); /* цвет иконки */
  transition-duration: .8s;
}
.menu__box {        
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--red); /*цвет выплывающего фона */
  transition-duration: .85s; 
}
.menu__item {  
  display: block;
  top: 60px;
 color: var(--white); /*цвет шрифта*/
 font-size: 1.25rem; /*размер шрифта*/
 font-weight: 300; /*ширина шрифта*/
 font-family: Inter; /* вместо Arial название вашего шрифта*/
  padding: 5px 24px; 

  text-decoration: none;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

 .tblpanel { 
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0 0;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 52px; 
  z-index: 9999;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.menu__btn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--red);
	min-width: 64px;
	min-height: 64px;
	height: 4vmax;
	width: 4vmax;
	border-radius: 50%;
	transition: 0.5;
}

.logo_cont {
	background: url(svg/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 34.51px;
	min-height: 34.51px;
	width: 9.2vmax;
	height: 9.2vmax;
	position: relative;
	top: 15px;
	left: 15px;
}

.glavni_block {
	position: relative;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 10px;
}

.name_course {
	font-family: Forum;
	font-size: 4.0625rem;
	letter-spacing: -0.3rem;
	line-height: 3.225rem;
}

.slogo {
	font-size: 0.9rem;
	line-height: 1.1rem;
	letter-spacing: -0.06rem;
	margin-bottom: 0.4rem;
}
.Lera {
	margin-inline: auto;
	width: 90%;
	border-radius: 5px;
	position: relative;
	top: -22px;
	margin-top: 30px;
}
.Valeria::before {
	content: '';
	width: 15px;
	height: 15px;
	background-image: url(svg/zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -12%;
	top: 13%;
}
.Valeria {
	text-align: left;
	height: 100px;
	display: block;
	position: absolute;
	bottom: 2.5%;
	color: var(--white);
	left: 10%;
	font-size: 1rem;
	line-height: 0.91rem;
}

.buttonn {
	color: var(--white);
	height: 50px;
	align-content: center;
	background-color: var(--red);
	width: 90%;
	margin-inline: auto;
	border-radius: 30px;
	position: relative;
	top: -5px;
	font-size: 0.725rem;
	font-weight: 500;
	letter-spacing: 0.08625rem;
	line-height: 0.6875rem;
}
.red_bt {
	font-family: Inter;
	color: var(--black);
	font-weight: 600!important;
	background: rgb(217,217,217);
	background: linear-gradient(141deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 50%, rgba(217,217,217,1) 100%);
}
.my_course {
	font-size: 4.625rem;
	letter-spacing: -4px;
	margin-top: 23px;
	margin-bottom: 23px;
}
.plusi {
	width: 100%;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: 30px;
}
.white_plusi {
	font-size: 1.05rem;
	line-height: 1.2rem;
	margin-top: 25px;
	position: relative;
	font-weight: 400;
}
.plusi_basic {
	opacity: 70%;
}
.plus {
	margin-bottom: 15px;
	position: relative;
}
.txt_plus {
	margin-left: 0.98rem;
	line-height: 1.1rem;
}
.plus::before {
	content: '';
	width: 0.8em;
	height: 0.8em;
	background-image: url(svg/black_zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -0.5rem;
	top: 0em;
}
.plus_white::before {
	background-image: url(svg/zvezda.svg);
}
.over {
	z-index: 9999;
}
.komu_pod {
	background-image: url(photo/photo_2024-12-14_23-19-53.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--white); 
	margin-inline: -1px;
	padding-bottom: 60px;
}
.komu {
	color: var(--black);
	background-color: var(--white);
	align-content: center;
	text-align: center;
	width: 90vw;
	max-width: 432px;
	margin-inline: auto;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 12px;
	margin-bottom: 10px;
	min-height: 80px;
}
.center1 {
	text-align: left;
	padding: 20px;
	padding-left: 40px;
	position: relative;
}
.center1::before {
	content: '';
	width: 25px;
	height: 25px;
	background-image: url(svg/black_zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10px;
	top: 37%
}

.cartochki {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	gap: 5px;
	justify-items: center;
}
.cart_li {
	width: 43vw;
	height: 32vw;
	background-color: var(--black);
	border-radius: 10px;
	max-width: 207px;
	max-height: 154px;
}
.cart {
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: 0.95rem;
	line-height: 0.875rem;
	padding-bottom: 7%;
	padding-left: 5%;
	position: relative;
}
.cart::before {
	content: '';
	width: 20px;
	height: 20px;
	background-image: url(svg/zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 12%;
}
.cart1::after {
	content: '( 01 )';
	position: absolute;
	top: 10%;
	right: 8%;
	font-size: 1rem;
}
.cart3::after {
	content: '( 02 )';
	position: absolute;
	top: 10%;
	right: 8%;
	font-size: 1rem;
}
.cart4::after {
	content: '( 03 )';
	position: absolute;
	top: 10%;
	right: 8%;
	font-size: 1rem;
}
.cart6::after {
	content: '( 04 )';
	position: absolute;
	top: 10%;
	right: 8%;
	font-size: 1rem;
}
.cart2 {
	background-image: url(photo/devocka.jpg);
	background-size: 102%;
	background-repeat: no-repeat;
	background-position: center;
}
.cart5 {
	background-image: url(photo/gift.jpg);
	background-size: 102%;
	background-repeat: no-repeat;
	background-position: center;
}
.strelka {
	background-image: url(svg/strelka11.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	height: 70px;
	margin-inline: auto;
	margin-top: 15px;
}
#white_strelka {
	background-image: url(svg/strelka_white.svg);
	margin-bottom: 50px;
}
.portfolio {
	background-color: var(--green);
	color: var(--white);
	padding-bottom: 30px;
}
.port_ul {
	justify-items: center;
	color: var(--black);
}
.port_li {
	width: 90vw;
	height: 40vw;
	background-color: var(--white);
	border-radius: 10px;
	max-width: 433px;
	max-height: 257px;
	min-height: 200px;
	margin-bottom: 10px;
	padding-left: 3%;
	padding-bottom: 2%;
}
.flex_port {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	font-size: 1.1rem;
	font-weight: 500;
}
.flex_port li {
	margin-bottom: 7px;
}
.port_num {
	position: absolute;
	top: 4%;
	font-size: 1.2rem;
}
.port_zvezda {
	position: relative;
	left: 1.5em;
	font-size: 0.9rem;
}
.port_zvezda::before {
	content: '';
	width: 1em;
	height: 1em;
	background-image: url(svg/black_zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -1.5em;
	top: 0.1em;
}
.proxod {
	margin-bottom: 35px;
	margin-top: 15px;
}
.info_ul {
	margin-bottom: 1rem;
	margin-top: -1em;
}
.info_div {
	width: 90vw;
	margin-inline: auto;
	line-height: 17px;
	margin-bottom: 0.5rem;
	padding: 1rem;
	padding-left: 3em;
	border: 1.5px solid var(--black);
	border-radius: 8px;
	font-size: 1rem;
	line-height: 0.89rem;
	font-weight: 500;
	min-height: 80px;
	max-width: 433px;
	position: relative;
}
.info_div.black {
	background-color: var(--black);
	color: var(--white);
}
.info_div.black::before {
	content: '';
	width: 1.5625rem;
	height: 1.5625rem;
	background-image: url(svg/zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0.9em;
	top: 34%;
}
.info_div.white::before {
	content: '';
	width: 1.5625rem;
	height: 1.5625rem;
	background-image: url(svg/black_zvezda.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0.9em;
	top: 34%;
}
.start_neob {
	background-image: url(photo/photo_2024-12-14_23-19-53.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--white); 
	margin-inline: -1px;
	padding-bottom: 60px;
	padding-top: 20px;
	position: relative;
}
.start_ul {
	margin-top: 20px;
}
.start_cart {
	background-color: var(--white);
	width: 44vw;
	height: 35vw;
	max-width: min(180px, 45vw);
	max-height: 143px;
	min-height: 110px;
	color: var(--black);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: 1rem;
	padding-bottom: 5%;
	padding-left: 5%;
	position: relative;
	font-weight: 500;
	line-height: 1.1rem;
}
.start_cart::after {
	content: '';
	width: 15vw;
	height: 15vw;
	max-width: 54px;
	max-height: 54px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 4%;
	top: 5%;
}
.start_cart.start_1::after {
	background-image: url(photo/комп.png);
}
.start_cart.start_2::after {
	background-image: url(photo/тетка.png);
}
.start_cart.start_3::after {
	background-image: url(photo/книга.png);
}
.start_cart.start_4::after {
	background-image: url(photo/палка.png);
}
.reviews_tp {
	margin-bottom: 4rem;
	margin-top: 1rem;
}
.reviews_tp2 {
	position: relative;
}
.reviews_tp2::before {
	content: '';
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-image: url(photo/heart.jpg);
	height: 7vw;
	width: 7vw;
	max-width: 32px;
	max-height: 32px;
	top: 23%;
	left: 14%; 
	transform: rotate(-20deg);
}
#reviews_tp2_red::before {
	background-image: url(svg/heart_red.svg);
}
.podcherk {
	position: relative;
}
.podcherk::after {
	content: '';
	width: 101%;
	height: 1px;
	background-color: var(--black);
	position: absolute;
	left: 0.03rem;
	bottom: 0;
}
article.reviews_ar {
	background-color: var(--white_grey);
	min-height: 300px;
	height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-block: 30px;
	display: flex;
	flex-direction: column;
}
.reviews_img {
	width: 100%;
	padding-bottom: 10px;
}

.scroll_black::-webkit-scrollbar {
	width: 20px;
  }
  .scroll_black::-webkit-scrollbar-track {
	background-color: transparent;
	  
  }
  .scroll_black::-webkit-scrollbar-thumb {
	background-color: var(--black);
	border-radius: 20px;
	border: 7px solid transparent;
	background-clip: content-box;
  }
  .scroll_black::-webkit-scrollbar-thumb:hover {
	background-color: #1b255f;
  }

.moduli_tp {
	background-color: #38464f;
	color: var(--white);
}
.modul_zag {
	font-size: 1.48rem;
	padding-left: min(7vw, 35px);
	position: relative;
	padding-bottom: 25px;
	left: 2rem;
	line-height: 1.5rem;
}
.modul_zag::before {
	content: '01';
	position: absolute;
	top: 17%;
	left: -2%;
	font-size: 1rem;
}
.zag_2::before {
	content: '02';
}
.zag_3::before {
	content: '03';
}
.zag_4::before {
	content: '04';
}
.zag_5::before {
	content: '05';
}
.zag_6::before {
	content: '06';
}
.zag_7::before {
	content: '07';
}
.modul_zag::after {
	content: '';
	position: absolute;
	width: 90vw;
	max-width: 433px;
	height: 1px;
	background-color: var(--white);
	top: -26px;
	left: calc(5% - 2rem);
}
.modul_tp {
	padding-bottom: 30px;
	
}
.urok {
	position: relative;
	margin-bottom: 30px;
	padding-left: min(21vw, 120px);
	font-size: 1rem;
	line-height: 1em;
}

.urok_1::before {
	content: 'Урок 1';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_2::before {
	content: 'Урок 2';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_3::before {
	content: 'Урок 3';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_4::before {
	content: 'Урок 4';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_5::before {
	content: 'Урок 5';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_6::before {
	content: 'Урок 6';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_7::before {
	content: 'Урок 7';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_8::before {
	content: 'Урок 8';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_9::before {
	content: 'Урок 9';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok_10::before {
	content: 'Урок 10';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_11::before {
	content: 'Урок 11';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_12::before {
	content: 'Урок 12';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_13::before {
	content: 'Урок 13';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_14::before {
	content: 'Урок 14';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_15::before {
	content: 'Урок 15';
	position: absolute;
	top: 0;
	left: 6%
}
.urok_16::before {
	content: 'Урок 16';
	position: absolute;
	top: 0;
	left: 6%
} 
.urok::before {
	left: 4.65%;
	font-size: 1rem;
}
.dop_urok {
	font-size: 1.15rem;
	margin-bottom: 30px;
	margin-left: 4.6%;
}
.bot_brd {
	border-bottom: var(--white) 2px solid;
}
.black_brd {
	border-bottom: var(--black) 2px solid;
	display: inline-block;
	height: 1.1em;
}
.polosa {
	height: 2px;
	background-color: var(--black);
	width: 20vw;
	max-width: 96px;
	margin-top: 20px;
}
.tarifi {
	padding-bottom: 50px;
}
.forum_tp {
	font-family: Forum;
}
.tarif {
	width: 90vw;
	max-width: 432px;
	color: var(--white);
	margin-block: 35px;
	border-radius: 7px;
	font-weight: 400;
}
.tarif_pro {
	background-color: rgb(223,66,32);
	background: linear-gradient(140deg, rgba(223,66,32,1) 0%, rgba(138,31,8,1) 46%);
}
.tarif_basic {
	background-color: rgba(138,31,8,1);
}
.venok {
	display: block;
	width: 15vw;
	height: 15vw;
	max-width: 72px;
	max-height: 72px;
	margin-top: 1.3rem;
	margin-bottom: 10px;
}
.polosa_white {
	width: 100%;
	max-width: 350px;
	background-color: var(--white);
	height: 2px;
}
/* #white_plusi::after {
	content: '';
	position: absolute;
	width: 75vw;
	max-width: 360px;
	height: 1.2px;
	background-color: var(--white);
	bottom: 17px;
	left: calc(50% - 75vw);
} */
#white_gift::before {
	content: '';
	background-image: url(svg/white_gift.svg);
	width: 7vw;
	height: 7vw;
	max-height: 28px;
	max-width: 28px;
	left: -1.2rem;
}
#white_gift {
	margin-left: 0.9rem;
}
.price_tp {
	font-family: Forum;
	font-size: 4.5rem;
	margin-bottom: 3rem;
}
.mesta {
	font-family: Inter;
	font-size: 1.3rem;
	margin-bottom: 1.2em;
}
.primet {
	margin-left: min(5vw, 30px);
	font-size: 1.1rem;
	line-height: 1.1rem;
}
.quest_tp {
	background-color: var(--dark_grey);
	color: var(--white);
	padding-bottom: 50px;
}
.glazki {
	position: relative;
}
.glazki::after {
	content: '';
	position: absolute;
	top: 30%;
	right: 10%;
	width: 10vw;
	height: 10vw;
	max-width: 48px;
	max-height: 48px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(photo/glazki.png);
}
.quest_ul {
	color: var(--black);
}
.quest_li .info_div {
	background-color: var(--white);
	width: 90vw;
    margin-bottom: 0.5rem;
    padding: 1rem;
	padding-top: 16px;
    padding-left: 3em;
    border-radius: 8px;
    font-size: 1rem;
    min-height: 80px;
    max-width: 433px;
	font-weight: 500;
	overflow: hidden;
}
.quest_li .info_div::before {
	content: '';
	width: 1.5625rem;
	height: 1.5625rem;
	background-image: url(svg/heart_red.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0.9em;
	top: 25px;
}
.quest_leg {
	display: block;
	margin-top: 1rem;
}
.info_div summary {
	font-weight: 600;
	position: absolute;
	top: 23px;
}
.tariff {
	width: 90%;
}
.anchore {
	position: absolute;
}